<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="./chat.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div id="app">
        <!--
        <h1>Bienvenu {{user.name.familyName}} {{user.name.givenName}} dans le chat</h1>
        <img width="300px" height="300px" :src="user.photo" alt="Photo user">
        -->
        <div v-if="!salonVisible" class="enterSalon">
            <div class="row container">
                <div class="col s12 displaySalon">
                    <h3>Titre du salon :</h1>
                </div>
                <div class="input-field col s10">
                    <input v-model="salon" id="salon" type="text">
                    <p class="red-text">{{error}}</p>
                </div>
                <div class="col s2">
                    <button @click="enterSalon" class="btn waves-effect waves-light">
                        Entrer dans ce salon<i class="material-icons">screen_share</i>
                    </button>
                </div>
            </div>
        </div>
        <div v-else id="chat_container">
            <ul class="chat__container">

                <li v-for="message in messages" sm="11" v-bind:class="{ myMessage: message.user.id == user.id }"
                    class="a__message">
                    <div class="message__user__info">
                        <img width="25px" height="25px" :src="message.user.photo">
                        <span>{{message.user.name.givenName}}</span>
                    </div>

                    <p>{{message.message}}</p>
                </li>
            </ul>
        </div>
        <div v-if="salonVisible" class="row message__container">
            <div class="col s12 centered_align_justify">
                <div class="input-field col s10">
                    <input @keyup.enter="envoyer_msg" v-model="text_msg" type="text"
                        class="validate white-text message_input">
                </div>
                <div class="col s2 centered_align_justify">
                    <button @click="envoyer_msg" class="btn waves-effect waves-light centered_align_justify">
                        Envoyer <i class="material-icons">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                salonVisible: false,
                salon: '',
                trueValue: true,
                messages: [],
                text_msg: '',
                user: {
                    id: '',
                    name: {
                        familyName: '',
                        givenName: '',
                    },
                    photo: '',
                    locale: '',
                },
                socket: null
            }
        },
        methods: {
            enterSalon() {
                this.salon = this.salon.toUpperCase()
                if (this.salon == '' || this.salon.match("[^A-Z]")) {
                    this.error = "Le nom du salon doit être une chaîne de carractère en majuscule"
                } else {
                    this.error = ""
                    this.salonVisible = !this.salonVisible
                    this.socket.on(this.salon, msg => {
                        // if(msg.salon == this.salon){
                        this.messages.push(msg)
                        // } 
                    });
                }

            },
            envoyer_msg() {
                if (this.text_msg != '') {
                    this.socket.emit('chat message', {
                        salon: this.salon,
                        user: this.user,
                        message: this.text_msg
                    });
                    this.text_msg = ''
                }

            }
        },
        mounted() {
            this.socket = io();

            axios
                .get('/getUserConnected')
                .then(response => {
                    this.user = response.data
                })
                .catch(error => console.log("error" + error))
        }
    })
</script>